<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.bennysamirhierl.appear</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2163C0F1-0F2E-422D-A984-BE65AB5F4926</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2207613A-B694-45D1-8FF2-1C2DFBE2B349</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77E1C749-7993-4DE5-A7EB-086C125B2748</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2207613A-B694-45D1-8FF2-1C2DFBE2B349</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBE9F5DD-482D-4975-9F7A-2400C7C78FD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4F2A759-A565-4937-812D-B340E73B01E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2163C0F1-0F2E-422D-A984-BE65AB5F4926</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0A0C58D-494E-4B05-9BA6-64F878B0D2CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0A0C58D-494E-4B05-9BA6-64F878B0D2CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99C586BC-A9E3-439B-BD9A-8D73255E2948</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E475D506-57A7-4AD0-823B-5243EA3BB47F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4F2A759-A565-4937-812D-B340E73B01E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benny Samir Hierl</string>
	<key>description</key>
	<string>Create a Appear.in meeting room</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Appear.in</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2207613A-B694-45D1-8FF2-1C2DFBE2B349</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Room-URL {query} copy to clipboard</string>
				<key>title</key>
				<string>Appear.in Room created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EBE9F5DD-482D-4975-9F7A-2400C7C78FD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2163C0F1-0F2E-422D-A984-BE65AB5F4926</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys, urllib, requests, json

apiURL = "https://api.appear.in"
baseURL = "https://appear.in" 

query = "{query}".strip()

try:
	if query == "":
		response = requests.post(apiURL + "/random-room-name")
		if response.ok:
			jData = json.loads(response.content)
			sys.stdout.write(baseURL + jData['roomName'])
		else:
			sys.stdout.write("error")
	else:
		sys.stdout.write(baseURL + "/" + urllib.quote_plus(query))
except:
	sys.stdout.write("error")</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A4F2A759-A565-4937-812D-B340E73B01E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>appear</string>
				<key>subtext</key>
				<string>Type in a custom room name or keep it empty for a random room name</string>
				<key>text</key>
				<string>Appear.in</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E475D506-57A7-4AD0-823B-5243EA3BB47F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>77E1C749-7993-4DE5-A7EB-086C125B2748</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E0A0C58D-494E-4B05-9BA6-64F878B0D2CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Creating random Appear.in Room failed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>99C586BC-A9E3-439B-BD9A-8D73255E2948</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2163C0F1-0F2E-422D-A984-BE65AB5F4926</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Success</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>2207613A-B694-45D1-8FF2-1C2DFBE2B349</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>77E1C749-7993-4DE5-A7EB-086C125B2748</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>99C586BC-A9E3-439B-BD9A-8D73255E2948</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>A4F2A759-A565-4937-812D-B340E73B01E1</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>E0A0C58D-494E-4B05-9BA6-64F878B0D2CC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Failed</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>E475D506-57A7-4AD0-823B-5243EA3BB47F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>EBE9F5DD-482D-4975-9F7A-2400C7C78FD8</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/BennySamir</string>
</dict>
</plist>
